In [26]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? n
Nothing done.

In [27]:
import pandas as pd

In [28]:
'''
On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. 
We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, 
we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, 
a relatively affordable item, something seems wrong with our analysis. 
'''

dataset = pd.read_csv("Shopify_Dataset.csv")

In [29]:
dataset.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5000 non-null   int64
 1   shop_id         5000 non-null   int64
 2   user_id         5000 non-null   int64
 3   order_amount    5000 non-null   int64
 4   total_items     5000 non-null   int64
 5   payment_method  5000 non-null   object
 6   created_at      5000 non-null   object
dtypes: int64(5), object(2)
memory usage: 273.6+ KB

In [31]:
'''
a. Think about what could be going wrong with our calculation. Think about a better way to evaluate this data.

Basically what shopify has done here is taken the total sum of all order_amounts and divided by 5000. 
The reason its being divided by 5000 is because that is the total number of rows within the dataset.

'''

print("AOV:", dataset['order_amount'].sum()/5000)

AOV: 3145.128

In [32]:
'''
The problem with doing this is that orders can have multiple items. For example, lets take a closer look at row 60 below

It is clear that this order_id contains 2000 items. Shopify has assumed that each order_id contains a single item which led 
to them calculating the AOV. However, there are 2000 items within a single order of this order_id

'''
print(dataset.loc[[60]])

    order_id  shop_id  user_id  order_amount  total_items payment_method  \
60        61       42      607        704000         2000    credit_card

            created_at
60  2017-03-04 4:00:00

In [33]:
'''
b. What metric would you report for this dataset?

We know that AOV = Total Revenue / Total Orders
The optimal solution for this would be to calculate the Average Revenue Per Item (ARI)

ARI = Total order amount / Total items 

We can take a look at the first 2 rows in the dataset to see what shopify did vs the metric i will be using 

How shopify calcuated their AOV?
(224 + 90) / 2 = 157 (AOV)

ARI Metric Calculation 
(224 + 90) / 3 = 104.67 (ARI)

This is because we have to take in consideration of the 2 items within order_id 1 

'''
print(dataset.loc[[0]])
print(dataset.loc[[1]])

   order_id  shop_id  user_id  order_amount  total_items payment_method  \
0         1       53      746           224            2           cash

            created_at
0  2017-03-13 12:36:56
   order_id  shop_id  user_id  order_amount  total_items payment_method  \
1         2       92      925            90            1           cash

            created_at
1  2017-03-03 17:38:52

In [34]:
'''
c. What is its value?

Let's calculate the Avg Revenue Per Item (ARI) for the entire dataset provided.

ARI = Total order amount / Total items

Therefore, the ARI for the dataset is $357.92

'''
print("Average Revenue Per Item (ARI):", dataset['order_amount'].sum()/dataset['total_items'].sum())

Average Revenue Per Item (ARI): 357.92152221412965